<div [class.app-dark-theme]="nightmode" [style.height]="innerHeight+'px'">
<md-sidenav-container [style.height]="'inherit'">
<div >
  <div class="bar" >
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>

  <md-button-toggle-group name="pies" [(ngModel)]="favoritePie" (ngModelChange)="selectLabel(favoritePie)">
  <md-button-toggle *ngFor="let pie of cLabel" [value]="pie">
    {{pie}}
  </md-button-toggle>
  </md-button-toggle-group>
  <h4 *ngIf="manager">预计{{pieTitle.area}}总收款¥{{pieTitle.amount}}</h4>
  <div class="bar" >
  <canvas height="200%" baseChart
            [datasets]="barChartData2"
            [labels]="barChartLabels2"
            [options]="barChartOptions2"
            [legend]="barChartLegend2"
            [chartType]="barChartType2"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  <!--canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [options]="doughnutOptions"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas-->
</div>
</div>

  </md-sidenav-container>
</div>


