<md-list *ngIf="orders">
  <md-list-item *ngFor="let order of orders" [style.background]="order.BackColor" [style.color]= "order.ForeColor">
    <img md-list-avatar src="assets/img/wine.jpg" alt="assets/img/wine.jpg">
    <h3 md-line> {{order.GoodsName}} 
      <span [style.float]="'right'" [style.width]="'45%'"> 
        X  {{order.GoodsCount}} {{order.Unit}}&nbsp;&nbsp;&nbsp; 
        <span >{{order.PresentUser}}</span>
      </span> 
      
      
      
    </h3>
    <p md-line [style.text-align]="'right'">
      
      
      
      <span *ngIf="order.IsPresent" [style.float]="'left'"> <md-icon>card_giftcard</md-icon> </span>
      <span  [style.float]="'left'">¥ {{order.SubTotal}}</span>
      <span >{{order.Status}}&nbsp;&nbsp;&nbsp; </span>
      <span >{{order.OrderTime}}</span>

       
    </p>
  </md-list-item>
</md-list>