<h6 md-dialog-title>{{ packagefood.GoodsName }}</h6>
<md-dialog-content>
  <md-list *ngIf="packagefood.GoodsDetails">
    <md-list-item *ngFor="let order of packagefood.GoodsDetails" [style.background]="order.BackColor" [style.color]= "order.ForeColor">
      <img md-list-avatar src="assets/img/wine.jpg" alt="assets/img/wine.jpg">
      <h3 md-line> {{order.GoodsName}}</h3>
      <p md-line>
        
        <span> ¥ {{order.Price}} / {{order.Unit}}</span>
        
        

      </p>
      <span *ngIf="!order.IsFixed && order.GoodsDetailCount>0"><button md-mini-fab (click)="removePackage(order)" ><md-icon>remove</md-icon></button></span>
      <span *ngIf="order.GoodsDetailCount>0"> {{order.GoodsDetailCount}} </span>
      <span *ngIf="order.IsFixed || order.GoodsDetailCount>=order.GroupLimit"> <button md-mini-fab disabled="true"><md-icon>lock</md-icon></button></span>
      <span *ngIf="!order.IsFixed && order.GoodsDetailCount<order.GroupLimit"><button md-mini-fab (click)="addPackage(order)" ><md-icon>add</md-icon></button></span>
    </md-list-item>
  </md-list>
</md-dialog-content>