<div *ngIf="regarray">
  <h2>{{regarray.name}}{{page.regdetail_h1}}!</h2>
  <div>
    <label>id: </label>{{regarray.id}}</div>
  <div>
    <label> {{page.regdetail_name}}: </label>
    <input [(ngModel)]="regarray.name" placeholder="name" />
  </div>
  <div>
    <label> {{page.regdetail_visable}}: 
    </label>
    <md-slide-toggle [(ngModel)]="regarray.visable"></md-slide-toggle>
  </div>
  <div>
    <label> {{page.regdetail_share}}: 
    </label>
    <md-slide-toggle [(ngModel)]="regarray.share"></md-slide-toggle>
  </div>
  <div>
    <label> {{page.regdetail_createTime}}: </label>
    <input [(ngModel)]="regarray.createTime" placeholder="createTime" readonly="readonly"/>
  </div>
  <div>
    <label> {{page.regdetail_description}}: </label>
    <input [(ngModel)]="regarray.description" placeholder="description" />
  </div>
  <div>
    <label> {{page.regdetail_regScope}}: </label>
    <input [(ngModel)]="regarray.regScope" placeholder="regScope"  />
    <label> {{page.regdetail_regScopeAttr}}: </label>
    <select class="form-control" name="sel" 
        [(ngModel)]="regarray.regScopeAttr" 
        (ngModelChange)="updateScopeAttr($event)">
        <option disabled value="0" class="hideoption">{{regarray.regScopeAttr.value}}</option>
        <option *ngFor="let scopeattr of regattr" [ngValue]="scopeattr">
        {{scopeattr.value}} - {{scopeattr.name}}
      </option>
      </select>
  </div>
  <div><button md-button (click)="addFindArr($event)">Add Find</button><ul>
    <li *ngFor="let findarr of regarray.findArray" >
    <label> {{page.regdetail_regFind}}: </label>
    <input [(ngModel)]="findarr.regFind" placeholder="regFind"  />
    <label> {{page.regdetail_regFindAttr}}: </label>
    <select class="form-control" name="sel" 
        [(ngModel)]="findarr.regFindAttr" 
        (ngModelChange)="updateFindAttr($event)">
        <option disabled value="0" class="hideoption">{{findarr.regFindAttr.value}}</option>
        <option *ngFor="let findattr of regattr" [ngValue]="findattr">
        {{findattr.value}} - {{findattr.name}}
      </option>
      </select>
    <label> {{page.regdetail_regReplace}}: </label>
    <input [(ngModel)]="findarr.regReplace" placeholder="regReplace" />
    </li>
    </ul>
  </div>
  
  <button (click)="goBack()"> {{page.regdetail_back}} </button>
  <button (click)="save()"> {{page.regdetail_save}} </button>
</div>
