<h2>{{page.queue_h1}}</h2>
<button (click)="addRegarray()">Add New Incident</button>
<div *ngIf="addingRegarray">
  <my-regdetail (close)="close($event)"></my-regdetail>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<div *ngIf="selectedRegarray">
  <h2>
    {{selectedRegarray.name | uppercase}} {{page.queue_h2}}
  </h2>
  <button (click)="gotoDetail()">{{page.queue_view}}</button>
</div>
<ul class="regarrays">
  <li *ngFor="let regarray of regarrays" (click)="onSelect(regarray)" [class.selected]="regarray === selectedRegarray">
    <span class="regarray-element">
      <span class="badge">{{regarray.id}}</span>
      <span class="badge">{{regarray.owner}}</span>
      {{regarray.name}} - {{regarray.description}}
      <span class="badge">{{regarray.updateTime}}</span>
    </span>
    <button class="delete-button" (click)="deleteRegarray(regarray, $event)"> {{page.queue_cancel}} </button>
  </li>
</ul>




