<div class="signup jumbotron center-block">
  <h1>{{page.signup_h1}}</h1>
  <form role="form" (submit)="signup($event, user.value, password.value, email.value)">
  <div class="form-group">
  <label for="user"><i class="glyphicon glyphicon-user"></i></label>
    <md-input-container>
    <input md-input type="text" #user class="form-control" id="user" placeholder={{page.signup_placeholder1}}>

    </md-input-container>
  <BR><label for="password"><i class="glyphicon glyphicon-eye-close"></i></label>
    <md-input-container>
    <input md-input type="password" #password class="form-control" id="password" placeholder={{page.signup_placeholder2}}>
    </md-input-container>
  <BR><label for="email"><md-icon>email</md-icon></label>
    <md-input-container>
    <input md-input type="email" #email class="form-control" id="email" placeholder={{page.signup_placeholder3}}>
    </md-input-container>
  </div>
  <!--div class="form-group">
    <label for="email"><i class="glyphicon glyphicon-globe"></i></label>
    <input type="email" #email class="form-control" id="email" placeholder={{page.signup_placeholder2}}>
  </div-->
  <button md-raised-button type="submit" class="btn btn-default">{{page.signup_button}}</button>
    <a [routerLink]="['/login']">{{page.signup_a}}</a>
</form>
</div>