<!--h2> {{page.heroes_h1}} {{latestid}} </h2>
<h2> {{page.heroes_h2}} </h2-->
<div class="error" *ngIf="error">{{error}}</div>
<md-tab-group *ngIf="areas">
  <md-tab *ngFor="let area of areas | orderBy:'RoomAreaId'" label="{{area.RoomAreaName}}" >
    <md-grid-list cols="4">
      <md-grid-tile *ngFor="let workspace of workspaces | AreaPipe:area.RoomAreaName" 
        [colspan]="workspace.cols"
        [rowspan]="workspace.rows"
        [style.background]="workspace.RoomColor" (click)="gotoWorkspace(workspace)">{{workspace.RoomName}}
      </md-grid-tile>
    </md-grid-list>
  </md-tab>
</md-tab-group>


<!--md-grid-list cols="4">
  <md-grid-tile *ngFor="let workspace of workspaces" [colspan]="workspace.cols"
      [rowspan]="workspace.rows"
      [style.background]="workspace.color" (click)="gotoWorkspace(workspace)">{{workspace.name}}</md-grid-tile>

</md-grid-list>
<div class="grid grid-pad">
  <div *ngFor="let workspace of workspaces" (click)="onSelect(workspace)" [class.selected]="workspace === selectedWorkspace">
    <div class="module workspace">
      <h4 class="badge">{{workspace.id}}<br>{{workspace.status}}</h4> {{workspace.employee}} - {{workspace.name}}
    </div>
    <button class="delete-button" (click)="deleteWorkspace(workspace, $event)">Delete</button>
  </div>
</div-->



