<div *ngIf="workspace">
<md-sidenav-container class="example-container" >
  <md-sidenav #sidenav  class="example-sidenav" align="end">
    预计消费: <span class="color-price">¥{{cart.Sum}}</span><button md-icon-button (click)="clearCart(cart)" color="warn" class="clear-cart" *ngIf="cart.Sum>0"><md-icon>delete</md-icon>清空</button>
    <md-chip-list class="md-chip-list-stacked">

      <div *ngFor="let good of cart.SubmitOrders">
        <md-chip *ngIf="good.GoodsCount>0"
            selected="true" color="accent" >
          <span [style.float]="'right'"><button md-mini-fab (click)="removeCart(good,cart)" ><md-icon>remove</md-icon></button> {{good.GoodsCount}} <button md-mini-fab (click)="addInCart(good,cart)"><md-icon>add</md-icon></button>
          </span>
          <!--button md-mini-fab (click)="deleteCart(good,cart)" ><md-icon>delete</md-icon></button--><span md-line> {{good.GoodsName}}¥ {{good.Price}} / {{good.Unit}} <button *ngIf="good.GoodsDetails" md-icon-button (click)="setPackage(good,cart)" ><md-icon>pie_chart_outlined</md-icon></button></span>
          
          
        </md-chip>
      </div>
      <button *ngIf="cart.Sum>0" md-raised-button [disabled]="orderSub" (click)="addOrder(cart)" [style.float]="'right'" color="accent"><md-icon>credit_card</md-icon>提交</button>
      
    </md-chip-list>
  </md-sidenav>
  <md-sidenav #giftnav  class="example-sidenav" align="start">
    赠送总额: <span class="color-price">¥{{giftcart.Sum}}</span><button md-icon-button (click)="clearCart(giftcart)" color="warn" class="clear-cart" *ngIf="giftcart.Sum>0"><md-icon>delete</md-icon>清空</button>
    <md-chip-list class="md-chip-list-stacked">

      <div *ngFor="let good of giftcart.SubmitOrders">
      <md-chip *ngIf="good.GoodsCount>0"
          selected="true" color="accent">
        <span [style.float]="'right'">
        <button md-mini-fab (click)="removeCart(good,giftcart)" ><md-icon>remove</md-icon></button> {{good.GoodsCount}} <button md-mini-fab (click)="addInCart(good,giftcart)"><md-icon>add</md-icon></button>
        </span>
        <!--button md-mini-fab (click)="deleteCart(good,giftcart)" ><md-icon>delete</md-icon></button--><span md-line> {{good.GoodsName}} ¥ {{good.Price}} / {{good.Unit}} <button *ngIf="good.GoodsDetails" md-icon-button (click)="setPackage(good,giftcart)" ><md-icon>pie_chart_outlined</md-icon></button></span>

        
      </md-chip>
      </div>
      <button *ngIf="giftcart.Sum>0" md-raised-button [disabled]="orderSub" (click)="addOrder(giftcart)" [style.float]="'right'" color="accent"><md-icon>card_giftcard</md-icon>赠送</button>
    </md-chip-list>
  </md-sidenav>
  <md-toolbar >{{workspace.RoomName}} 
  <span *ngIf="cart"><md-icon>credit_card</md-icon>已消费: ¥{{workspace.ConsumeAmount}}</span>
    <span class="mainfat">
    <button *ngIf="goodshow" md-fab (click)="sidenav.open()"><md-icon>shopping_cart</md-icon>¥{{cart.Sum}}</button>
    <button *ngIf="!goodshow" md-fab (click)="giftnav.open()"><md-icon>shopping_basket</md-icon>¥{{giftcart.Sum}}</button>
    </span>
  </md-toolbar>
  <div >
  <md-tab-group (selectChange)="listGoods(goodshow,$event)" [style.display]="'block'" >
     <md-tab label="赠送" *ngIf="giftgoods" >
      <div class="col-xs-3" [style.height]="listHeight+'px'">
        <md-button-toggle-group *ngIf="gifttypes" name="pies" vertical="true">
          <md-button-toggle *ngFor="let goodtype of gifttypes" [value]="goodtype" (click)="selectGiftType(goodtype)">
            {{goodtype.GoodsTypeName}}
          </md-button-toggle>
        </md-button-toggle-group>
         <!--md-list *ngIf="gifttypes">
            <md-list-item *ngFor="let goodtype of gifttypes" (click)="selectGiftType(goodtype)">{{goodtype.GoodsTypeName}} </md-list-item>
         </md-list-->
      </div>
      <div class="col-xs-9" [style.height]="listHeight+'px'">
        <md-grid-list cols="2">
          <md-grid-tile *ngFor="let food of giftfoods" [rowspan]="1">
              <div class="food-img">
                <img md-card-image src="assets/img/wine.jpg">
              </div>
              <md-grid-tile-footer [style.padding]="'0 6px'" [style.background]= "'inherit'" [style.color]= "'inherit'" [style.align-items]= "'baseline'">
                <h6 md-line [style.font-size]="'small'">{{food.GoodsName}}</h6>
                <span md-line>
                  <span class="color-price"><b>¥{{food.Price}}</b></span>
                  <span *ngIf="food.GoodsDetails"><button md-icon-button (click)="setPackage(food,giftcart)" ><md-icon>pie_chart_outlined</md-icon></button></span>
                </span>
                <span *ngIf="food.GoodsCount>0">{{food.GoodsCount}}</span>
                <button md-mini-fab (click)="addCart(food,giftcart)" ><md-icon>add</md-icon></button>
              </md-grid-tile-footer>
              <!-- <div class="food-img">
              <img md-card-image src="assets/img/wine.jpg">
              </div>
              <div class="food-content">
                <div [style.width]="'150%'" >{{food.GoodsName}}</div>
                <div [style.width]="'100%'"><span><b>¥{{food.Price}}</b></span>
                  <span [style.float]="'right'">
                 <span [style.font-size]="'large'" *ngIf="food.GoodsCount>0">{{food.GoodsCount}}</span>
                 <span ><button [style.bottom]="'35px'" md-mini-fab (click)="addCart(food,giftcart)" ><md-icon>add</md-icon></button></span>
                 </span>
                </div>
              </div> -->
    
          </md-grid-tile>
        </md-grid-list>
      </div>
    </md-tab>
    <md-tab label="菜单" >
      <div class="col-xs-3" [style.height]="listHeight+'px'">
        <md-button-toggle-group *ngIf="goodtypes" name="pies" vertical="true">
          <md-button-toggle *ngFor="let goodtype of goodtypes" [value]="goodtype" (click)="selectType(goodtype)">
            {{goodtype.GoodsTypeName}}
          </md-button-toggle>
        </md-button-toggle-group>
         <!--md-list *ngIf="goodtypes">
            <md-list-item *ngFor="let goodtype of goodtypes" (click)="selectType(goodtype)">{{goodtype.GoodsTypeName}} </md-list-item>
         </md-list-->
      </div>
      <div class="col-xs-9" [style.height]="listHeight+'px'">
        <md-grid-list cols="2">
          <md-grid-tile *ngFor="let food of foods" [rowspan]="1">
     
              <div class="food-img">
              <img md-card-image src="assets/img/wine.jpg">
              </div>
              <md-grid-tile-footer [style.padding]="'0 6px'" [style.background]= "'inherit'" [style.color]= "'inherit'" [style.align-items]= "'baseline'">
                <h6 md-line [style.font-size]="'small'">{{food.GoodsName}}</h6>
                <span md-line>
                  <span class="color-price"><b>¥{{food.Price}}</b></span>
                  <span *ngIf="food.GoodsDetails"><button md-icon-button (click)="setPackage(food,cart)" ><md-icon>pie_chart_outlined</md-icon></button></span>
                  
             
                </span>
                <span *ngIf="food.GoodsCount>0">{{food.GoodsCount}}</span>
                <button md-mini-fab (click)="addCart(food,cart)" ><md-icon>add</md-icon></button>
              </md-grid-tile-footer>
    
          </md-grid-tile>
        </md-grid-list>
      </div>
    </md-tab>
   
    <md-tab label="消费" ><div [style.height]="listHeight+'px'"><orderlist [workspace]="workspace" ></orderlist></div></md-tab>
    <md-tab label="说明"><roominfo [workspace]="workspace"></roominfo></md-tab>
    
  </md-tab-group>
</div>
</md-sidenav-container>
</div>

