<div *ngIf="workspace">
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav  class="example-sidenav">
    ¥{{cart.Sum}}<button md-button (click)="sidenav.open()"><md-icon>credit_card</md-icon>提交</button>
    <md-chip-list class="md-chip-list-stacked">
      <md-chip *ngFor="let good of cart.goods"
          selected="true" >
        <button md-mini-fab (click)="deleteCart(good)" ><md-icon>delete</md-icon></button> {{good.GoodsName}} ¥ {{good.Price}} / {{good.Unit}} <button md-mini-fab (click)="removeCart(good)" ><md-icon>remove</md-icon></button> {{good.GoodsCount}} <button md-mini-fab (click)="addCart(good)"><md-icon>add</md-icon></button>
      </md-chip>
    </md-chip-list>
    <!--md-list>
      <md-list-item *ngFor="let good of cart.goods" >
        <md-list-item *ngIf="good.GoodsCount>0"> 
        <span>
        <img md-list-avatar src="assets/img/wine.jpg" alt="assets/img/wine.jpg">
        <h3 md-line>{{good.GoodsName}}  <button md-mini-fab (click)="deleteCart(good)"><md-icon>delete</md-icon></button></h3>
          <p md-line> ¥ {{good.Price}} / {{good.Unit}} </p>
        </span>
          <span><button md-mini-fab (click)="removeCart(good)" ><md-icon>remove</md-icon></button> {{good.GoodsCount}} <button md-mini-fab (click)="addCart(good)"><md-icon>add</md-icon></button></span>
        </md-list-item> 
      </md-list-item>
    </md-list-->
  </md-sidenav>
  <md-toolbar>{{workspace.RoomName}} <span *ngIf="cart"><md-icon>credit_card</md-icon>¥{{cart.Sum}}</span><button md-button (click)="sidenav.open()"><md-icon>euro_symbol</md-icon>提交</button></md-toolbar>
  <md-tab-group>
    <md-tab label="菜单">
      <div class="col-xs-2">
         <md-list>
            <md-list-item *ngFor="let goodtype of goodtypes" (click)="selectType(goodtype)">{{goodtype.GoodsTypeName}} </md-list-item>
         </md-list>
      </div>
      <div class="col-xs-10">
        <md-grid-list cols="2">
          <md-grid-tile *ngFor="let food of foods" [rowspan]="1">
              <md-card >
              
              <img md-card-image src="assets/img/wine.jpg">
              <!--md-card-header>
                <md-card-title>{{food.GoodsName}} ¥{{food.Price}} / {{food.Unit}}</md-card-title>
              </md-card-header-->
              <!--md-card-content>
                <p>
                  {{food.GoodsDetails}}
                </p>
              </md-card-content-->
              <md-card-actions>
                {{food.GoodsName}} ¥{{food.Price}} / {{food.Unit}}<button md-button class="add" (click)="addCart(food)"> {{food.GoodsCount}} <md-icon>shopping_cart</md-icon></button>
              </md-card-actions>
            </md-card>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </md-tab>
    <md-tab label="消费"><orderlist></orderlist></md-tab>
    <md-tab label="说明"></md-tab>
    
  </md-tab-group>
</md-sidenav-container>
</div>

